<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>bigpromo.</title>
</head>
<body>
  <main home>
    <header>
      <div class="limit">
        <a href="#"><img src="build/img/logo.svg" alt="Logo bigpromo."></a>
        <form action="">
          <input type="text">
          <button type="submit"><img src="build/img/icons/search.svg" alt=""></button>
        </form>
        <div class="buttons">
          <a href=""><img src="build/img//icons/add.svg" alt=""></a>
          <a href="">
            <div class="circle">
              <img src="build//img/icons/circle.svg" alt="">
              <span>J</span>
            </div>
          </a>
        </div>
      </div>
    </header>
 
  </main>
</body>
</html>