<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>bigpromo.</title>
</head>
<body>
<main home>
    <header>
        <div class="limit" >
            <a th:href="@{/}"><img th:src="@{/img/logo.svg}" alt="Logo bigpromo."></a>
            <form action="">
                <input type="text">
                <button type="submit"><img th:src="@{/img/icons/search.svg}" alt=""></button>
            </form>
            <div class="buttons">
                <a th:href="@{/add}"><img th:src="@{/img/icons/add.svg}" alt=""></a>
                <a href="">
                    <div class="circle">
                        <img th:src="@{/img/icons/circle.svg}" alt="">
                        <span>J</span>
                    </div>
                </a>
            </div>
        </div>
    </header>

    <section class="s1">
        <div class="limit" th:each="promo2 : ${promocoes2}">
            <div class="container-left" th:id="${promo2.id}">
                <div class="user">
                    <div class="circle">
                        <img th:src="@{/img/icons/circle.svg}" alt="">
                        <span>J</span>
                    </div>
                    <div class="data">
                        <h5>Jhonatan Matheus</h5>
                        <span th:text="${#temporals.format(promo2.dataCadastro, 'dd/MM/yyyy')}">04/04/2021</span>
                    </div>
                </div>
                <div class="product-name">
                    <h1 th:text="${promo2.titulo}"></h1>
                    <a th:href="${promo2.linkPromocao}">Acesse agora!</a>
                </div>
            </div>
            <div class="container-right">
                <div class="card">
                    <div class="path">
                        <img th:src="@{/img/icons/path.svg}" alt="">
                    </div>
                    <img th:src="${promo2.linkImagem}" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="s2">
        <div class="limit" >
            <div class="form-group">
                <button id="btn-alert" class="btn btn-warning btn-lg btn-block hidden" style="display: none;background-color: #fd5d5a; color: #FFF"></button>
            </div>
            <div class="cards" th:insert="promo-card">

            </div>
        </div>
    </section>
</main>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script type='text/javascript' th:src="@{/dwr/engine.js}"></script>
<script type='text/javascript' th:src="@{/dwr/interface/DWRAlertaPromocao.js}"></script>
<script type='text/javascript' th:src="@{/dwr/util.js}"></script>

<script th:src="@{/js/bigpromo.js}" th:fragment="js"></script>
</body>
</html>