<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>bigpromo.</title>
</head>
<body>
<main home>
    <header>
        <div class="limit">
            <a href="#"><img src="build/img/logo.svg" alt="Logo bigpromo."></a>
            <form action="">
                <input type="text">
                <button type="submit"><img src="build/img/icons/search.svg" alt=""></button>
            </form>
            <div class="buttons">
                <a href="add.html"><img src="build/img//icons/add.svg" alt=""></a>
                <a href="">
                    <div class="circle">
                        <img src="build//img/icons/circle.svg" alt="">
                        <span>J</span>
                    </div>
                </a>
            </div>
        </div>
    </header>

    <section class="s1">
        <div class="limit">
            <div class="container-left">
                <div class="user">
                    <div class="circle">
                        <img src="build//img/icons/circle.svg" alt="">
                        <span>J</span>
                    </div>
                    <div class="data">
                        <h5>Jhonatan Matheus</h5>
                        <span>04/04/2021</span>
                    </div>
                </div>
                <div class="product-name">
                    <h1>PLACA DE VIDEO
                        ASUS GEFORCE
                        GTX 1650 TUF
                        GAMING 4GB DDR6 128</h1>
                    <a href="">Acesse agora!</a>
                </div>
            </div>
            <div class="container-right">
                <div class="card">
                    <div class="path">
                        <img src="build/img/icons/path.svg" alt="">
                    </div>
                    <img src="build/img/placa.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="s2">
        <div class="limit">
            <div class="cards">

                <div class="card">
                    <img src="build/img/product.png" alt="">
                    <a href="">
                        <div class="data">
                            <h1>Smartphone Apple iPhone 11 64GB iOS Câmera Dupla</h1>
                            <div class="data-product">
                                <div class="value">
                                    <h2>R$ 6.299,00</h2>
                                    <h3>Amazon.com</h3>
                                    <span>06/04/2021</span>
                                </div>
                                <div class="likes">
                                    <img src="build/img/icons/like.svg" alt="">
                                    <a href=""><span>50</span></a>
                                </div>
                            </div>
                    </a>
                </div>
                <a href="#">
                    <button>
                        Acessar oferta
                    </button>
                </a>
            </div>


            <div class="card">
                <img src="build/img/product.png" alt="">
                <a href="">
                    <div class="data">
                        <h1>Smartphone Apple iPhone 11 64GB iOS Câmera Dupla</h1>
                        <div class="data-product">
                            <div class="value">
                                <h2>R$ 6.299,00</h2>
                                <h3>Amazon.com</h3>
                                <span>06/04/2021</span>
                            </div>
                            <div class="likes">
                                <img src="build/img/icons/like.svg" alt="">
                                <a href=""><span>50</span></a>
                            </div>
                        </div>
                </a>
            </div>
            <a href="#">
                <button>
                    Acessar oferta
                </button>
            </a>
        </div>

        <div class="card">
            <img src="build/img/product.png" alt="">
            <a href="">
                <div class="data">
                    <h1>Smartphone Apple iPhone 11 64GB iOS Câmera Dupla</h1>
                    <div class="data-product">
                        <div class="value">
                            <h2>R$ 6.299,00</h2>
                            <h3>Amazon.com</h3>
                            <span>06/04/2021</span>
                        </div>
                        <div class="likes">
                            <img src="build/img/icons/like.svg" alt="">
                            <a href=""><span>50</span></a>
                        </div>
                    </div>
            </a>
        </div>
        <a href="#">
            <button>
                Acessar oferta
            </button>
        </a>
        </div>

        <div class="card">
            <img src="build/img/product.png" alt="">
            <a href="">
                <div class="data">
                    <h1>Smartphone Apple iPhone 11 64GB iOS Câmera Dupla</h1>
                    <div class="data-product">
                        <div class="value">
                            <h2>R$ 6.299,00</h2>
                            <h3>Amazon.com</h3>
                            <span>06/04/2021</span>
                        </div>
                        <div class="likes">
                            <img src="build/img/icons/like.svg" alt="">
                            <a href=""><span>50</span></a>
                        </div>
                    </div>
            </a>
        </div>
        <a href="#">
            <button>
                Acessar oferta
            </button>
        </a>
        </div>

        <div class="card">
            <img src="build/img/product.png" alt="">
            <a href="">
                <div class="data">
                    <h1>Smartphone Apple iPhone 11 64GB iOS Câmera Dupla</h1>
                    <div class="data-product">
                        <div class="value">
                            <h2>R$ 6.299,00</h2>
                            <h3>Amazon.com</h3>
                            <span>06/04/2021</span>
                        </div>
                        <div class="likes">
                            <img src="build/img/icons/like.svg" alt="">
                            <a href=""><span>50</span></a>
                        </div>
                    </div>
            </a>
        </div>
        <a href="#">
            <button>
                Acessar oferta
            </button>
        </a>
        </div>

        <div class="card">
            <img src="build/img/product.png" alt="">
            <a href="">
                <div class="data">
                    <h1>Smartphone Apple iPhone 11 64GB iOS Câmera Dupla</h1>
                    <div class="data-product">
                        <div class="value">
                            <h2>R$ 6.299,00</h2>
                            <h3>Amazon.com</h3>
                            <span>06/04/2021</span>
                        </div>
                        <div class="likes">
                            <img src="build/img/icons/like.svg" alt="">
                            <a href=""><span>50</span></a>
                        </div>
                    </div>
            </a>
        </div>
        <a href="#">
            <button>
                Acessar oferta
            </button>
        </a>
        </div>

        <div class="card">
            <img src="build/img/product.png" alt="">
            <a href="">
                <div class="data">
                    <h1>Smartphone Apple iPhone 11 64GB iOS Câmera Dupla</h1>
                    <div class="data-product">
                        <div class="value">
                            <h2>R$ 6.299,00</h2>
                            <h3>Amazon.com</h3>
                            <span>06/04/2021</span>
                        </div>
                        <div class="likes">
                            <img src="build/img/icons/like.svg" alt="">
                            <a href=""><span>50</span></a>
                        </div>
                    </div>
            </a>
        </div>
        <a href="#">
            <button>
                Acessar oferta
            </button>
        </a>
        </div>
        </div>
        </div>
    </section>
</main>
</body>
</html>