/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
body {
    line-height: 1;
}

body article, body aside, body details, body figcaption, body figure,
body footer, body header, body hgroup, body menu, body nav, body section {
    display: block;
}

body ol, body ul {
    list-style: none;
}

body blockquote, body q {
    quotes: none;
}

body blockquote:before, body blockquote:after,
body q:before, body q:after {
    content: "";
    content: none;
}

body table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: "light";
    src: url("../fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
    font-family: "regular";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "medium";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "bold";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "black";
    src: url("../fonts/Montserrat-Black.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

.limit {
    max-width: 1088px;
    margin: 0 auto;
}

body header .limit {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body header .limit form {
    position: relative;
    display: flex;
    align-items: center;
    height: 36px;
}

body header .limit form > input {
    width: 536px;
    height: 100%;
    border-radius: 18px;
    outline: none;
    border: none;
    padding: 0 10px;
    font-family: "light", sans-serif;
    font-size: 16px;
    color: #F9496C;
}

body header .limit form > button {
    position: absolute;
    background: none;
    outline: none;
    border: none;
    right: 12px;
}

body header .limit .buttons {
    display: flex;
}

body header .limit .buttons a {
    margin-left: 62px;
}

body header .limit .buttons a .circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

body header .limit .buttons a .circle img {
    height: 30px;
}

body header .limit .buttons a .circle span {
    position: absolute;
    font-family: "bold", Verdana, Tahoma, sans-serif;
    font-size: 16px;
}

body main[home] {
    background: url("../img/shape_header.svg");
    background-repeat: no-repeat;
    background-position-x: calc(50% + 100px);
    background-position-y: -350px;
    min-height: 550px;
}

body main[home] section.s1 {
    padding: 50px 0 0;
}

body main[home] section.s1 .limit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body main[home] section.s1 .limit .container-left {
    max-width: 547px;
}

body main[home] section.s1 .limit .container-left .user {
    display: flex;
    align-items: center;
}

body main[home] section.s1 .limit .container-left .user .circle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

body main[home] section.s1 .limit .container-left .user .circle span {
    position: absolute;
    font-family: "bold", sans-serif;
    font-size: 39px;
    color: #333333;
}

body main[home] section.s1 .limit .container-left .user .data {
    margin-left: 17px;
    margin: 15px;
}

body main[home] section.s1 .limit .container-left .user .data h5, body main[home] section.s1 .limit .container-left .user .data span {
    font-size: 14px;
    color: #333333;
    font-family: "bold", sans-serif;
    color: #333333;
}

body main[home] section.s1 .limit .container-left .product-name h1 {
    margin: 20px 0;
    font-size: 45px;
    line-height: 55px;
    font-family: "bold", sans-serif;
    color: #333333;
}

body main[home] section.s1 .limit .container-left .product-name > a {
    font-family: "medium", sans-serif;
    color: #333333;
    font-size: 32px;
    transition: color 0.5s;
}

body main[home] section.s1 .limit .container-left .product-name > a:hover {
    color: #F9496C;
}

body main[home] section.s1 .limit .container-right .card {
    position: relative;
    width: 444px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 26px;
    background-color: #FFF;
    border: 1px solid #E8E7F3;
    box-shadow: 0 22px 78px rgba(116, 130, 194, 0.3);
}

body main[home] section.s1 .limit .container-right .card .path {
    position: absolute;
    left: 6px;
}

body main[home] section.s1 .limit .container-right .card > img {
    max-width: 100%;
    object-fit: contain;
}

body main[home] section.s2 {
    padding: 120px 0 80px;
    min-height: 1200px;
    background: url("../img/shape_form.svg");
    background-repeat: no-repeat;
    background-position-y: -50px;
    background-position-x: -5vw;
}

body main[home] section.s2 .limit .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

body main[home] section.s2 .limit .cards .card {
    justify-self: center;
    width: 260px;
    height: 400px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 26px;
    background-color: #FFF;
    border: 1px solid #E8E7F3;
    box-shadow: 0 22px 78px rgba(116, 130, 194, 0.3);
    position: relative;
}

body main[home] section.s2 .limit .cards .card > img {
    margin-top: 14px;
    height: 223px;
    object-fit: contain;
}

body main[home] section.s2 .limit .cards .card .data {
    margin-top: 18px;
}

body main[home] section.s2 .limit .cards .card .data h1 {
    max-width: 245px;
    font-family: "bold", sans-serif;
    font-size: 14px;
    color: #FF6456;
    word-break: break-word;
    overflow-y: hidden;
}

body main[home] section.s2 .limit .cards .card .data .data-product {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body main[home] section.s2 .limit .cards .card .data .data-product .value h2 {
    font-family: "bold", sans-serif;
    font-size: 22px;
    color: #F9496C;
}

body main[home] section.s2 .limit .cards .card .data .data-product .value h3 {
    font-family: "bold", sans-serif;
    font-size: 14px;
    color: #F63A77;
}

body main[home] section.s2 .limit .cards .card .data .data-product .value span {
    font-family: "bold", sans-serif;
    font-size: 10px;
    color: #F63A77;
}

body main[home] section.s2 .limit .cards .card .data .data-product .likes {
    display: flex;
    align-items: flex-end;
}

body main[home] section.s2 .limit .cards .card .data .data-product .likes > img {
    height: 18px;
}

body main[home] section.s2 .limit .cards .card .data .data-product .likes span {
    font-family: "bold", sans-serif;
    font-size: 14px;
    color: #F9496C;
    margin: 0 5px;
}

body main[home] section.s2 .limit .cards .card::after {
    content: "";
    position: absolute;
    display: block;
    top: 100px;
    right: 0;
    width: 6px;
    height: 200px;
    background-color: #FF6456;
    border-radius: 10px;
}

body main[home] section.s2 .limit .cards .card a button {
    width: 120px;
    height: 28px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    font-family: "regular", sans-serif;
    font-size: 14px;
    background: linear-gradient(45deg, #F4347B, #FF6456);
    color: #FFF;
    transition: 0.5s;
}

body main[home] section.s2 .limit .cards .card a button:hover {
    width: 130px;
    height: 30px;
}

body main[add] {
    background: url("../img/shape_add.svg");
    background-repeat: no-repeat;
    background-position-y: -550px;
    background-position-x: calc(50% - 250px);
}

body main[add] .limit .logo {
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
}

body main[add] section.s1 {
    padding: 10px 0;
}

body main[add] section.s1 .limit form > input[type=text] {
    width: 99%;
    height: 50px;
    border-radius: 30px;
    outline: none;
    border: 1px solid #F9496C;
    padding: 0 15px;
    font-size: 20px;
    font-family: "bold", sans-serif;
    color: #F9496C;
}

body main[add] section.s1 .limit form > input[type=text]::placeholder {
    color: #F9496C;
    opacity: 0.8;
}

body main[add] section.s1 .limit form .container {
    margin-top: 20px;
    display: flex;
    position: relative;
}

body main[add] section.s1 .limit form .container .left {
    padding-right: 60px;
}

body main[add] section.s1 .limit form .container .left .card {
    width: 450px;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 26px;
    background-color: #FFF;
    border: 1px solid #E8E7F3;
    box-shadow: 0 22px 78px rgba(116, 130, 194, 0.3);
}

body main[add] section.s1 .limit form .container .left .card > img {
    width: 400px;
    height: 400px;
    object-fit: contain;
}

body main[add] section.s1 .limit form .container .right {
    flex: 1;
    padding-right: 20px;
}

body main[add] section.s1 .limit form .container .right .group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

body main[add] section.s1 .limit form .container .right .group > label {
    font-size: 20px;
    font-family: "medium", sans-serif;
    color: #FA4C69;
    margin-bottom: 5px;
}

body main[add] section.s1 .limit form .container .right .group > input {
    width: 100%;
    height: 40px;
    border: 1px solid #FF6357;
    border-radius: 10px;
    outline: none;
    padding: 0 14px;
    font-size: 14px;
    font-family: "bold", sans-serif;
    color: #F9496C;
}

body main[add] section.s1 .limit form .container .right .group textarea {
    height: 160px;
    border: 1px solid #FF6357;
    border-radius: 10px;
    outline: none;
    padding: 14px;
    font-family: "bold", sans-serif;
    color: #F9496C;
    resize: none;
}

body main[add] section.s1 .limit form .container::after {
    content: url("../img/path.svg");
    position: absolute;
    top: -55px;
    right: 0;
}

body main[add] section.s1 .limit form .submit {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

body main[add] section.s1 .limit form .submit input[type=submit] {
    width: 500px;
    height: 45px;
    border-radius: 30px;
    background: linear-gradient(to right, #F4347B, #FF6456);
    border: none;
    outline: none;
    font-size: 30px;
    font-family: "regular", sans-serif;
    color: #FFF;
    cursor: pointer;
    transition: width 0.5s;
}

body main[add] section.s1 .limit form .submit input[type=submit]:hover {
    width: 530px;
}

/* Arquivos de estilos dos plugins (.scss) */
