main[home] {
  background: url('../img/shape_header.svg');
  background-repeat: no-repeat;
  background-position-x: calc(50% + 100px);
  background-position-y: -350px;
  min-height: 550px;
  @import 's1';
  @import 's2';
}