section.s2 {
  padding: 120px 0 80px;
  min-height: 1200px;
  background: url('../img/shape_form.svg');
  background-repeat: no-repeat;
  background-position-y: -50px;
  background-position-x: -5vw;

  .limit {

    .cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: center;

      .card {
        justify-self: center;
        width: 260px;
        height: 400px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 26px;
        background-color: #FFF;
        border: 1px solid #E8E7F3;
        box-shadow: 0 22px 78px rgba($color: #7482C2, $alpha: 0.3);
        position: relative;

        > img {
          margin-top: 14px;
          height: 223px;
          object-fit: contain;
        }

        .data {
          margin-top: 18px;

          h1 {
            max-width: 245px;
            font-family: 'bold', sans-serif;
            font-size: 14px;
            color: $tertiary;
            word-break: break-word;
            overflow-y: hidden;
          }

          .data-product {
            margin: 10px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .value {
              h2 {
                font-family: 'bold', sans-serif;
                font-size: 22px;
                color: $primary;
              }

              h3 {
                font-family: 'bold', sans-serif;
                font-size: 14px;
                color: $secondary;
              }

              span {
                font-family: 'bold', sans-serif;
                font-size: 10px;
                color: $secondary;
              }
            }

            .likes {
              display: flex;
              align-items: flex-end;

              > img {
                height: 18px;
              }

              span {
                font-family: 'bold', sans-serif;
                font-size: 14px;
                color: $primary;
                margin: 0 5px;
              }
            }
          }
        }

        &::after {
          content: '';
          position: absolute;
          display: block;
          top: 100px;
          right: 0;
          width: 6px;
          height: 200px;
          background-color: #FF6456;
          border-radius: 10px;
        }

        a {
          button {
            width: 120px;
            height: 28px;
            border-radius: 30px;
            cursor: pointer;
            border: none;
            outline: none;
            font-family: 'regular', sans-serif;
            font-size: 14px;
            background: linear-gradient(45deg, #F4347B, #FF6456);
            color: #FFF;
            transition: 0.5s;

            &:hover {
              width: 130px;
              height: 30px;
            }
          }
        }
      }
    }
  }
}